* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: "Anonymous Pro", monospace;
  color: white;
  width: 100%;
  height: 100vh;
  background-color: #111b25;
}
#email {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 5px;
}
.hero {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero img {
  margin-top: 2rem;
  width: 200px;
}
.hero h1 {
  font-size: 3rem;
  margin: 25px;
}

.github {
  opacity: 0;
  box-shadow: 10px 10px 149px -18px rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 100px;
  min-width: 100%;
  background-color: white;
  animation: githubanim 5s ease-out forwards 3.8s;
}
.github a {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 5px;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
}
.github a:hover {
  letter-spacing: 10px;
}

#oneletter {
  stroke-dasharray: 169px;
  stroke-dashoffset: 169px;
  animation: line-anim 2s ease forwards;
}
#twoletter {
  stroke-dasharray: 305px;
  stroke-dashoffset: 305px;
  animation: line-anim 2s ease forwards 0.3s;
}
#threeletter {
  stroke-dasharray: 332px;
  stroke-dashoffset: 332px;
  animation: line-anim 2s ease forwards 0.6s;
}
#fourletter {
  stroke-dasharray: 307px;
  stroke-dashoffset: 307px;
  animation: line-anim 2s ease forwards 0.9s;
}
#fiveletter {
  stroke-dasharray: 376px;
  stroke-dashoffset: 376px;
  animation: line-anim 2s ease forwards 1.2s;
}
#sixletter {
  stroke-dasharray: 376px;
  stroke-dashoffset: 376px;
  animation: line-anim 2s ease forwards 1.5s;
}
#sevenletter {
  stroke-dasharray: 304px;
  stroke-dashoffset: 304px;
  animation: line-anim 2s ease forwards 1.8s;
}
#eightletter {
  stroke-dasharray: 307px;
  stroke-dashoffset: 307px;
  animation: line-anim 2s ease forwards 2.1s;
}
#nineletter {
  stroke-dasharray: 314px;
  stroke-dashoffset: 314px;
  animation: line-anim 2s ease forwards 2.4s;
}
#tenletter {
  stroke-dasharray: 304px;
  stroke-dashoffset: 304px;
  animation: line-anim 2s ease forwards 2.7s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes githubanim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  #myname {
    scale: 0.2;
  }
  .github a {
    font-size: 1rem;
  }
}
